:root {
  --orange: hsl(25, 79%, 61%);
  --seaGreen: hsl(178, 100%, 33%);
}
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 60%;
  min-width: 800px;
  height: 500px;
  box-shadow: 0px 3px 6px hsla(0deg, 0%, 0%, 16%);
  border-radius: 4px;
  padding: 50px;
}
.container h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--orange);
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}
.container form {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.container form p label {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: hsla(0deg, 0%, 50%);
  margin-bottom: 10px;
}
.container form p input {
  width: 300px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid hsl(0deg, 0%, 80%);
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
}
.container form .pwdreveal {
  color: var(--seaGreen);
  user-select: none;
  cursor: pointer;
}
.container form p:nth-child(1) input {
  margin-bottom: 30px;
}
.container form p:nth-child(2) input {
  margin-bottom: 10px;
  margin-right: -30px;
}
.container form p:nth-child(2) a {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: var(--seaGreen);
  text-align: center;
}
.container form button {
  justify-self: center;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background-color: var(--orange);
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.container > p {
  font-size: 12px;
  font-weight: 500;
  color: hsla(0deg, 0%, 50%);
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: auto;
}
.container > p a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: var(--seaGreen);
}
.regContainer {
  height: 570px;
  display: none;
}
.regContainer .register div p input {
  margin-bottom: 0;
  margin-right: -30px;
}
.regContainer .register div {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: 50% 50%;
  gap: 30px 30px;
}
.regContainer .register button {
  margin-top: 50px;
}
@media screen and (max-width: 800px) {
  .container {
    width: auto;
    height: auto;
    box-shadow: none;
  }
  .regContainer .register div {
    grid-auto-flow: row;
    grid-template-columns: auto;
  }
}
